<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testIntIds()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25925</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 9, 2019 at 4:04:59 PM</string>
				</dict>
			</dict>
			<key>testMediumCustomFetch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0035481</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 11, 2019 at 5:24:47 AM</string>
				</dict>
			</dict>
			<key>testMediumCustomInsert()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023313</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 11, 2019 at 5:24:47 AM</string>
				</dict>
			</dict>
			<key>testMediumFetch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0059933</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 11, 2019 at 5:24:47 AM</string>
				</dict>
			</dict>
			<key>testMediumInsert()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.025352</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 11, 2019 at 5:24:47 AM</string>
				</dict>
			</dict>
			<key>testRawSqliteFetch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0028554</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 11, 2019 at 5:24:47 AM</string>
				</dict>
			</dict>
			<key>testRawSqliteInsert()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.018337</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 11, 2019 at 5:24:47 AM</string>
				</dict>
			</dict>
			<key>testStringIds()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.64556</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 9, 2019 at 4:04:59 PM</string>
				</dict>
			</dict>
			<key>testUuids()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.52781</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 9, 2019 at 4:04:59 PM</string>
				</dict>
			</dict>
		</dict>
		<key>SqlTests</key>
		<dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.4843e-06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 11, 2019 at 5:24:47 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
